[oneproxy]
keepalive = 1
event-threads = 4
log-file = log/oneproxy.log
pid-file = log/oneproxy.pid
lck-file = log/oneproxy.lck

mysql-version = 5.5.60
proxy-address = :3307
proxy-master-addresses.1 = {{master_01}}:3306@A
proxy-master-addresses.2 = {{master_02}}:3306@A

 
proxy-user-list.1          = {{mysql_user}}/{{mysql_secret_password}}@{{mysql_database}}


proxy-charset = uutf8_general_ci
proxy-group-policy.1       = A:write_other

proxy-secure-client = 127.0.0.1
proxy-sequence.1 = default

